@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=VT323');
@import url('https://fonts.googleapis.com/css?family=Geo');

body {
  background: #ef32d9;
  background: -webkit-linear-gradient(to top, #89fffd, #ff69b4);
  background: linear-gradient(to top, #89fffd, #ff69b4);
}

.navbar {
  width: 140px;
  position: fixed;
  border-radius: 0;
  height: 100%;
  background-color: #7bc6cc;
}

.nav_items {

}

h3 {
  font-family: VT323;
}

a {
  font-family: VT323;
  font-size: 23px;
}

p {
  font-size: 20px;
  font-family: Geo;
}

.signup_box {
  width: 400px ;
  margin-left: auto ;
  margin-right: auto ;
}

.signup_form {
  font-family: VT323;
  font-size: 20px;
}

.login_box {
  width: 400px ;
  margin-left: auto ;
  margin-right: auto ;
}

.login_form {
  font-family: VT323;
  font-size: 20px;
}

.user_status {
  text-align: center;
}

.uploader {
  text-align: center;
}

input#post_photo {
  font-family: VT323;
  margin-left: 50px;
}

textarea#post_text {
  font-family: VT323;
  width: 180px;
}

input {
  font-family: VT323;
}

.show_post {
  text-align: center;
}

li {
  text-align: center;
  margin-right: 40px;
}

.container {
  border: 2px solid;
  border-bottom-color: #535353;
  border-right-color: #535353;
  border-left-color: #dbdbdb;
  border-top-color: #dbdbdb;
  background-color: #bfbfbf;
  max-width: 600px;
  font-size: 13px;
  padding: 2px;
  ul.toolbar {
    list-style: none;
    padding: 2px 0;
    margin: 0;
    text-align: left;
    li {
      display: inline-block;
      padding: 0 5px;
    }
  }
  .container-inner {
    border: 2px solid;
    border-bottom-color: #c7c7c7;
    border-right-color: #c7c7c7;
    border-left-color: #808080;
    border-top-color: #808080;
    background-color: #fff;
    padding: 10px;
    ul.icons {
      list-style: none;
      padding: 2px 0;
      margin: 0;
      li {
        display: inline-block;
        padding: 0 5px;
      }
    }
  }
  .statusbar {
    .left, .right {
      border: 1px solid;
      border-color: #888 #dadada #dadada #888;
      display: inline-block;
      padding: 0px 5px;
      font-size: 11px;
    }
    .left {
      width: 33%;
    }
    .right {
      width: 66%;
    }
  }
}
.title {
  background: linear-gradient(to left, #89fffd, #ff69b4);
  padding: 2px 4px 3px 4px;
  position: relative;
  text-align: left;
  h1 {
    font-weight: bold;
    color: #bcbcbc;
    font-size: 13px;
    margin: 0;
  }
  button {
    border: 2px solid;
    border-bottom-color: #444;
    border-right-color: #444;
    border-left-color: #a6a6a6;
    border-top-color: #a6a6a6;
    background-color: #bfbfbf;
    position: absolute;
    font-size: 9px;
    line-height: 0;
    padding: 1px;
    height: 15px;
    width: 15px;
    top: 2px;
  }
  button.minimize {
    right: 34px;
  }
  button.expand {
    right: 18px;
  }
  button.times {
    right: 2px;
  }
}
